[DEFAULT]
pki_admin_password={{ admin_passwd }}
pki_client_database_password={{ database_password }}
pki_client_pkcs12_password={{ pkcs12_passwd }}
pki_ds_password={{ ds_passwd }}
pki_security_domain_password={{ security_domain_passwd }}