[DEFAULT]
pki_admin_password={{ admin_passwd }}
pki_admin_keysize={{ admin_key_size }}
pki_admin_key_type={{ admin_key_type }}
pki_client_pkcs12_password={{ pkcs12_passwd }}
pki_ds_password={{ ds_passwd }}
pki_ssl_server_key_algorithm= {{ server_key_algo }}
pki_ssl_server_key_size={{ server_key_size }}
pki_ssl_server_key_type={{ server_key_type }}
pki_subsystem_key_algorithm={{ subsystem_key_algo }}
pki_subsystem_key_size={{ subsystem_key_size }}
pki_subsystem_key_type={{ subsystem_key_type }}

[CA]
pki_ca_signing_key_algorithm={{ ca_signing_key_algo }}
pki_ca_signing_key_size={{ ca_signing_key_algo }}
pki_ca_signing_key_type={{ ca_signing_key_type }}
pki_ca_signing_signing_algorithm={{ ca_signing_algo }}
pki_ocsp_signing_key_algorithm={{ ocsp_signing_key_algo }}
pki_ocsp_signing_key_size={{ ocsp_signing_key_size }}
pki_ocsp_signing_key_type={{ ocsp_signing_key_type }}
pki_ocsp_signing_signing_algorithm={{ ocsp_signing_algo }}